* {
	box-sizing: border-box;
}

/* Style the website content */
body {
	background-color: #141414;
	margin: 1% 20% 1% 20%;
	font-size: 100%;
}

.topcontainer {
	background-color: black;
}

.imagecontainer {
	position: relative;
	text-align: center;
	font-size: 4em;
	font-family: Arial, Helvetica, sans-serif;
	color: black;
	border-color: #14A76C; 
	border-style: inset;
	border-width: 4px;
}


.imagecontainer img {
	width: 50%;
	height: auto;
	user-select: none;
}

.centeredtext {
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
}


/* Style the h1 element used in the website header */
h1 {
	text-align: center;
	color: #131416;
}

/* Style the h2 element */
h2 {
	color: #ced2db;
}


/* Style the navigation bar links */
ul.menucontent {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
	font-family: Arial, Helvetica, sans-serif;
}

li.menucontent {
	float: left;
	width: calc(33.33%);
}

li.menucontent a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li.menucontent a:hover {
	background-color: #111;
}


/* Style the section used in the main body of the website */
.row::after {
	content: "";
	display: table;
	clear: both;
}

.row {
	/* font-family: Arial, Helvetica, sans-serif; */
	font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
	color: #ced2db;
}

.leftcolumn {
	float: left;
	width: 75%;
}

.rightcolumn {
	float: left;
	width: 25%;
	padding-left: 20px;
}

.card {
	background-color: #272727;
	padding: 20px;
	margin-top: 20px;
	border-style: inset;
	border-color: #14A76C;
	border-width: 4px;
}

dd.neednewlineafterthis::after {
	content: "\A";
	white-space: pre;
}


.uploaderidle {
	width: 100%;
	height: 200px;
	background: #464144;
	padding: 10px;
	text-align: center;
	vertical-align: middle;
	line-height: 200px;
	margin-bottom: 10px;
}

.uploaderactive {
	width: 100%;
	height: 200px;
	background: #868184;
	color: #000000;
	padding: 10px;
	text-align: center;
	vertical-align: middle;
	line-height: 200px;
	margin-bottom: 10px;
}

.serverinfo {
	color: #1fe678;
}

.alarm {
	color: #aa170c;
	font-weight: bold;
}






